@import url('https://fonts.googleapis.com/css?family=Titan+One');

body {
    background-color: rgb(248, 240, 231);
}

.container {
    position: relative;
    width: 95%;
    margin: 0 auto;
    opacity: 80%;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(110, 97, 84);
}

nav ul{
    display: flex;
}

nav ul li{
    color: white;
    margin-right: 15px;
}

#homepage {
    box-sizing: content-box;
    font-family: 'Pacifico', cursive;
    text-transform: uppercase;
    background-image: linear-gradient(-225deg,
            #faab79 0%,
            #fce376 25%,
            #73eda2 75%,
            #8d83fd 100%);
    background-size: auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
    font-size: 50px;
    font-weight: 900;
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}

* a{
    text-decoration: none;
    color: black;
}

* li{
    list-style: none;
}

.Q {
    padding: 20px;
    text-align: center;
}

.container_up {
    width: 1200px;
    height: 250px;
    margin: 0 auto;
    display: flex;
    align-content: center;
    justify-content: center;
}

.btn {
    font-family: 'Titan One', cursive;
    text-align: center;
    padding: 50px 70px;
    font-size: 30px;
    cursor: pointer;
    border: 0;
    border-radius: 10px;
    background: transparent;
    position: relative;
    margin: 20px;
    transition: all 0.25s ease;
}

.btn:hover {
    transform: translate(-12px, -12px);
}

.btn:hover::after {
    transform: translate(24px, 24px);
}

.btn:hover::before {
    transform: translate(12px, 12px);
}

.btn {
    color: #000;
    transition: all 0.25s ease;
}

.btn::after, .btn::before {
    content: "";
    position: absolute;
    opacity: 0.3;
    border-radius: inherit;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: all 0.25s ease;
}

#love_btn {
    background-color: #FFB4B4;
}

#love_btn::after,#love_btn::before {
    background-color: #FFB4B4;
}

#work_btn {
    background-color: #93E9BE;
}

#work_btn::after,#work_btn::before {
    background-color: #93E9BE;
}

#money_btn {
    background-color: #B2A4FF;
}

#money_btn::after, #money_btn::before {
    background-color: #B2A4FF;
}

#health_btn {
    background-color: #A4E8E0;
}

#health_btn::after, #health_btn::before {
    background-color: #A4E8E0;
}

#day_btn {
    background-color: #fddd7e;
}

#day_btn::after, #day_btn::before {
    background-color: #fddd7e;
}

#contact_btn {
    background-color: #fd7e7e;
}

#contact_btn::after, #contact_btn::before {
    background-color: #fd7e7e;
}


.container_down {
    width: 1200px;
    height: 250px;
    margin: 0 auto;
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;
}