body, html {
    background-color: #FFF9CA;
    padding: 0;
    margin: 0;
}

.profile {
    display: flex;
    justify-content: center;
}

.profile_img {
    margin: 3em;
}

.profile_img img{
    border-radius: 50%;
}

.profile_info_top {
    font-size: 20px;
    margin: 1em;
}

.topics {
    font-size: 20px;
    text-align: center;
}
